//Botones
$gray: rgba(157, 151, 151, 0.541521);
$red : #ED0A1D;
//Pantalla de detalles
$green: #009C04;
// Textos
$white : #fff;
//Backgrounds 
$black: #000;

//Padding
$padding-general : 10px;
$margin-general: 50px;

.hero {
    padding: $padding-general;
    background-image: url(/assets/img/bg-cover/netflix-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: $white;
    margin-bottom: -100px;
    padding: 20px;

    .content {

        width: 100%;
        max-width: 600px;
        margin: 100px 25px;
         padding: 20px 0;

        .hero-title {
            font-weight: 700;
            font-size: 9rem;

            line-height: 8rem;
        }

        .hero-subtitle {
            margin-bottom: 25px;
        }

        .hero-button-link {

            display: inline-block;
            margin-top: 20px;
            color: $white;
            text-decoration: none;
            margin-bottom: 30px;

        }

        .play,
        .my-list {
            border-radius: 9px;
            margin-right: 20px;
            background-color: $gray;
            padding: 20px 80px;
            font-size: 400;
        }

        .hero-description {
            line-height: 2rem;
            font-weight: 300;
            font-size: 1.4rem;

            .hero-text {
                margin-bottom: 1rem;
            }
        }
    }




}