@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

.carousel-container {
  position: relative;
  display: flex;
}
.carousel-container .glide__arrow--left,
.carousel-container .glide__arrow--right {
  position: absolute;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  height: 20%;
  top: calc(60% - 20%);
  width: 40px;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  opacity: 0;
}
.carousel-container :hover {
  opacity: 100%;
}
.carousel-container .glide__arrow--left {
  left: 0;
}
.carousel-container .glide__arrow--right {
  right: 0;
}
.carousel-container .series-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 20px 0;
}
.carousel-container .series-carousel .carousel-img {
  margin-right: 5px;
  min-width: 20%;
}

.header {
  display: flex;
  width: 100vw;
  position: fixed;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
}
.header .logo {
  margin: 0 50px;
}
.header .nav-bar-list {
  display: flex;
  list-style-type: none;
}
.header .nav-bar-list .nav-link {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero {
  padding: 10px;
  background-image: url(/assets/img/bg-cover/netflix-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  margin-bottom: 10px;
}
.hero .content {
  width: 100%;
  max-width: 600px;
  margin: 150px 50px;
}
.hero .content .hero-title {
  font-weight: 700;
  font-size: 9rem;
  line-height: 8rem;
}
.hero .content .hero-subtitle {
  margin-bottom: 25px;
}
.hero .content .hero-button-link {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 30px;
}
.hero .content .play,
.hero .content .my-list {
  border-radius: 9px;
  margin-right: 20px;
  background-color: rgba(157, 151, 151, 0.541521);
  padding: 20px 80px;
  font-size: 400;
}
.hero .content .hero-description {
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.4rem;
}
.hero .content .hero-description .hero-text {
  margin-bottom: 1rem;
}

.series {
  margin: 0 5px;
  padding: 10px;
  margin-left: 50px;
  color: #fff;
}
.series .title {
  margin: 10px 0px;
}

.keep-watching {
  padding: 10px;
  margin-left: 50px;
  color: #fff;
}
.keep-watching .carousel-container {
  position: relative;
  display: flex;
}
.keep-watching .carousel-container .glide__arrow--left,
.keep-watching .carousel-container .glide__arrow--right {
  position: absolute;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  height: 20%;
  top: calc(60% - 20%);
  width: 40px;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  opacity: 0;
}
.keep-watching .carousel-container :hover {
  opacity: 100%;
}
.keep-watching .carousel-container .glide__arrow--left {
  left: 0;
}
.keep-watching .carousel-container .glide__arrow--right {
  right: 0;
}
.keep-watching .carousel-container .series-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 20px 0;
}
.keep-watching .carousel-container .series-carousel .carousel-img {
  margin-right: 5px;
  min-width: 20%;
}

.recent-add {
  padding: 10px;
  margin-left: 50px;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
