@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
.carousel-container {
  position: relative;
  display: flex;
  margin: 10px 25px;
}
.carousel-container .glide__arrow--left,
.carousel-container .glide__arrow--right {
  position: absolute;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  height: 20%;
  top: calc(60% - 20%);
  width: 40px;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
  opacity: 0;
}
.carousel-container :hover {
  opacity: 100%;
}
.carousel-container .glide__arrow--left {
  left: 0;
}
.carousel-container .glide__arrow--right {
  right: 0;
}

.header {
  display: flex;
  width: 100vw;
  position: fixed;
  z-index: 1;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
}
.header .logo {
  margin: 0 50px;
}
.header .nav-bar-list {
  display: flex;
  list-style-type: none;
}
.header .nav-bar-list .nav-link {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.hero {
  padding: 10px;
  background-image: url(/assets/img/bg-cover/netflix-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: #fff;
  margin-bottom: -100px;
  padding: 20px;
}
.hero .content {
  width: 100%;
  max-width: 600px;
  margin: 100px 25px;
  padding: 20px 0;
}
.hero .content .hero-title {
  font-weight: 700;
  font-size: 9rem;
  line-height: 8rem;
}
.hero .content .hero-subtitle {
  margin-bottom: 25px;
}
.hero .content .hero-button-link {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 30px;
}
.hero .content .play,
.hero .content .my-list {
  border-radius: 9px;
  margin-right: 20px;
  background-color: rgba(157, 151, 151, 0.541521);
  padding: 20px 80px;
  font-size: 400;
}
.hero .content .hero-description {
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.4rem;
}
.hero .content .hero-description .hero-text {
  margin-bottom: 1rem;
}

.keep-watching {
  margin: 0 25px;
  color: #fff;
}
.keep-watching .title {
  margin: 20px 0px;
}
.keep-watching .progress-bar {
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: #333;
}
.keep-watching .progress-bar .progress {
  width: 96%;
  height: 10px;
  background-color: #C60F0E;
}
.keep-watching .progress-bar2 {
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: #333;
}
.keep-watching .progress-bar2 .progress2 {
  width: 45%;
  height: 10px;
  background-color: #C60F0E;
}
.keep-watching .progress-bar3 {
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: #333;
}
.keep-watching .progress-bar3 .progress3 {
  width: 15%;
  height: 10px;
  background-color: #C60F0E;
}
.keep-watching .progress-bar4 {
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: #333;
}
.keep-watching .progress-bar4 .progress4 {
  width: 45%;
  height: 10px;
  background-color: #C60F0E;
}
.keep-watching .progress-bar5 {
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: #333;
}
.keep-watching .progress-bar5 .progress5 {
  width: 85%;
  height: 10px;
  background-color: #C60F0E;
}
.keep-watching .progress-bar6 {
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: #333;
}
.keep-watching .progress-bar6 .progress6 {
  width: 45%;
  height: 10px;
  background-color: #C60F0E;
}
.keep-watching .progress-bar7 {
  margin: auto;
  width: 50%;
  height: 10px;
  background-color: #333;
}
.keep-watching .progress-bar7 .progress7 {
  width: 45%;
  height: 10px;
  background-color: #C60F0E;
}

.serie-preview {
  padding: 10px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.884), rgba(170, 170, 170, 0.11)), url(/assets/img/breaking-bad/breakingbad-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  margin-left: 25px;
}
.serie-preview .breaking-bad-logo {
  margin-top: 50px;
  margin-left: 25px;
}
.serie-preview .serie-info {
  display: flex;
  align-items: center;
  margin: 0 25px;
  width: 100%;
  max-width: 600px;
  margin: 10px 25px;
}
.serie-preview .serie-info .match-percentage {
  color: #009c04;
  font-size: 1.2rem;
  font-weight: 600;
}
.serie-preview .serie-info .data {
  margin-right: 20px;
}
.serie-preview .serie-buttons {
  margin: 0 25px;
}
.serie-preview .serie-buttons .hero-button-link {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 30px;
  font-size: 2rem;
}
.serie-preview .serie-buttons .play,
.serie-preview .serie-buttons .my-list {
  border-radius: 9px;
  margin-right: 20px;
  background-color: rgba(157, 151, 151, 0.541521);
  padding: 20px 80px;
  font-size: 400;
}
.serie-preview .serie-buttons .play {
  background-color: red;
}
.serie-preview .serie-buttons .button {
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  background: none;
  padding: 15px;
  margin-right: 10px;
}
.serie-preview .serie-buttons .far {
  font-size: 2rem;
}
.serie-preview .description {
  margin: 20px 0px 0px 25px;
  width: 100%;
  max-width: 600px;
  font-weight: 500;
  line-height: 36px;
  font-size: 1.4rem;
}
.serie-preview .title {
  margin-top: 100px;
  margin-left: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #000;
}

.series {
  margin: 0 25px;
  color: #fff;
}
.series .title {
  margin: 0 25px;
}

.recent-add {
  margin: 0 25px;
  color: #fff;
}
.recent-add .title {
  margin: 0 25px;
}

/*# sourceMappingURL=styles.css.map */
